.header {
  margin-top: 45px;
  margin-bottom: 40px;
  min-height: 74px;
  border-bottom: solid;
  border-color: rgb(84 84 84 / 0.7);
  border-width: 1px;
}
.header__logo {
  height: 33px;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-width: 100%;
    padding: 28px 0 32px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    padding-left: 27px;
  }
}
